body{
    margin:0px;
    overflow-x: hidden;
    background: #f1f1f1;
}
*
{
    box-sizing: border-box;
}

.mainContent
{
    display: inline-flex;
    width:100%;
    flex-flow: wrap;
    padding:6%;
}
.news-block
{
    height: 550px;
    width: 320px;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-top: 3%;
    cursor: pointer;
    z-index: 1;
    margin-bottom: 10%;
    margin-right: 3%;
    /* box-shadow: 0 2px 43px -4px rgba(0,0,0,.19);
    transition: 0.3s all; */
}
/* .news-block:hover{
    transform: translateY(2px);
    box-shadow: 0 2px 5px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.05);
} */
.promoted-content-indicator
{
    font-family: 'Montserrat',sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
}
.post-short-intro
{
    width: 100%;
    text-align: justify;
    font-weight: 400;
    margin-bottom: 1%;
    font-family: 'Markazi Text', serif;
    font-size: 1.1rem;
}
.social-share
{
    font-size: 1rem;
    width: 100%;
    margin-top:7%;
}
.social-share i
{
    transition: 0.3s all;
}
.social-share i:hover{
    transform: scale(1.2);
}
/*Social Bar Icon Colors*/
.social-share .fa-facebook-f
{
    color:#3b5998;
}
.social-share .fa-snapchat-ghost
{
color:#fffc01;
}
.social-share .fa-pinterest-p
{
    color:#c8232c;
}
.social-share .fa-tumblr
{
    color:#35465C
}
.social-share .fa-twitter
{
    color:#38A1F3
}
.social-share i
{
    margin-left:3%;
    margin-left: 8%;
    margin-right: 3%;
    cursor: pointer;
}
.post-title
{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: justify;
    width:100%;
    height: 20%;
    padding: 3%;
    color:black;
    transition:0.3s all;
    z-index:999;
    position: relative;
    font-family: 'Kaushan Script', cursive;
    transition:0.2s all;
}
.post-title:hover{
    color:purple;
}
.trend-line
{
    color:#fff;
    font-size:1.7rem;
    margin-right:7%;
    margin-left:3%;
}
.alpha-filter-mask
{
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     position:absolute;
     height:370px;
     width:320px;
     transition:0.5s all;
     transition: 0.4s all;
}
.filter-parent
{
    height:370px;
    width:320px;
    position: absolute;
    overflow:hidden;
    cursor: pointer;
}
#source
{
    font-family: 'Fredoka One', cursive;
    font-size: 12px;
    font-weight: bold;
    width: 40%;
    background: linen;
    color:tomato;
    padding: 2%;
    cursor: pointer;
    text-align: center;
    margin-left: 3%;
    margin-right: 1%;
    z-index:2;

}
#category
{
    font-family: 'Fredoka One', cursive;
    font-size: 12px;
    font-weight: bold;
    width: 60%;
    background: linen;
    padding: 2%;
    cursor: pointer;
    text-align: center;
    margin-right: 2%;
    z-index:2;
}
.author
{
    font-family: 'Lilita One', cursive;
    font-size: 1rem;
    display: inline-flex;
    margin-top: 1%;
    text-align: center;
    padding-left: 5%;
    color:black;
}
.brick-post-author
{
    color:purple;
    margin-left:5px;
    margin-right:5px;
}
.brick-post-author:hover{
    text-decoration: underline;
    color:black;
}

.data
{
    height: 56%;
    margin-top: 105%;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.from
{
    display:inline-flex;
    width:100%;
    margin-bottom:3%;
}
.post-stats:hover + .alpha-filter-mask,.alpha-filter-mask:hover{
 transform: scale(1.4);
 animation: blurr;
 animation-timing-function: ease-in-out;
 animation-fill-mode: forwards;
 animation-duration: 0.4s;
}
.post-stats
{
    position: absolute;
    z-index: 999;
    margin-top: 40%;
    margin-left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size:1.5rem;
}
@keyframes blurr{
    0%{
        filter:blur(0px);
    }
    100%{
        filter:blur(4px);
    }

}
.bricktop
{
    display:inline-flex;
    width:100%;
    height:309px;
    background:url('../assets/mainbrick.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top:1%;
    background-attachment: fixed;
}
.Mainbrick
{
    height:100%;
    width:80%;
    margin-right: 1%;
    padding:2%;
}
.brickrowtwo
{
    height:100%;
    width:20%;
    background-image:linear-gradient(to right,#74ebd5 0%,#ACB6E5 100%);
    margin-right: 1%;
    font-family: 'Lilita One', cursive;
    padding:0.5%;
    font-size:1.3rem;
    text-align: center;
}
.now-trending
{
    height:100%;
    width:20%;
    display: inline-block;
    padding:1.2%;
}
.trending-tag
{
    width: 10%;
    color: #fff;
    text-align: center;
    margin-right: 3%;
    cursor: pointer;
}
.trending-tag a
{
    font-family: 'josefin sans', cursive;
    text-decoration: none;
    color: #fff;
}
.trend-post-tag
{
    display: inline-flex;
    font-family: 'Montserrat',sans-serif;
    font-size:11px;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    color:tomato;
    padding: 1%;
}
.trend-post-title
{
    text-transform: capitalize;
    text-align: justify;
    color:#fff;
    font-size: 15px;
}
.now-trending .post
{
    margin-bottom: 5%;
    padding:1%;
}
.trend-post-tag{
    margin-right: 5%;
}
.most-trending-tags
{
    width:100%;
    display: inline-flex;
    background: #26a69a;
    padding: 1% 2% 1% 0%;
}
.post-tag
{
    height:10%;
    width: 90%;
    color:tomato;
    font-family: 'Montserrat',sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold
}
.caption-text
{
    height: 90%;
    color: #fff;
    width: 50%;
    font-size: 2.3rem;
    font-family: 'Montserrat',sans-serif;
}
.status
{
    width:3%;
    text-align: right;
}
.By
{
    background: url('../assets/ein.jpg');
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 24px -4px black;
    margin-bottom: 30%;
    margin-top: 40%;
    font-weight: bold;
    border: 5px solid #fff;
}
.full-page-search
{
    height: 100%;
    width: 100%;
    background: #EECDA3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EF629F, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */         
    z-index: 9999;
    position: fixed;
    display: inline-flex;
    padding-top:16%;
    padding-left: 18%;
    display: none;
    overflow-y:scroll;
}
.search-bar
{
    height:30%;
    width:50%;
    color: black;
    display: inline-grid;
    font-family: 'Josefin Sans', sans-serif;  
    font-size:30px;
    margin-top:-15%;
    font-weight: bold;
}
#search-text
{
    border:none;
    outline: none;
    font-family: 'Monoton',cursive;
    font-size:2em;
    width: 140%;
    background:transparent;
}
.close
{
    font-family: 'Monoton',cursive;
    font-size:2em;	
    color:#00a562;
    position: fixed;
    top: 3%;
    right: 3%;
}
        .tag
        {
            margin-right:0.6%;
            margin-bottom: 2%;
            font-family: 'Josefin Sans', sans-serif;   
            background: #FF416C;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                       
            border: none;
            outline: none;
            border-radius: 5px;
            box-shadow: 0px 0px 17px -9px black;
            padding: 1%;
            font-size: 1.2rem;
            font-weight: bold;
            cursor: pointer;
            color:black;
        }
        .filter-tags,.filter-blogs
        {
            width:80%;
        }
        .filter-tags h3,.filter-blogs h3
        {
            font-family: 'Josefin Sans', sans-serif;  
            font-weight: bold;
            font-size:2rem;
            margin-bottom: 3%;
        }
        .chips
        {
            margin-right:0.6%;
            margin-bottom: 2%;
            background: #BE93C5;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #7BC6CC, #BE93C5);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #7BC6CC, #BE93C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    font-family: 'Josefin Sans', sans-serif;            
            border: none;
            outline: none;
            border-radius: 20px;
            box-shadow: 0px 0px 17px -9px black;
            padding: 1%;
            font-size: 0.9rem;
            font-weight: bold;
            cursor: pointer;
            display: inline-flex;
        }
        .chipgrid
        {
            max-width:100%;
        }
        .chipclose
        {
            margin-left: 4%;
            font-size: 1.4rem;
        }


.newsletter-subscription-block
{
    width:100%;
    background: black;
}
.sign-up-form
{
    width:40%;
    height:100%;
}
.sign-up-banner
{
    width:60%;
    height: 100%;
}
/*Footer code begins*/
.web-footer
{
    height:70px;
}
.footer-link-items
{
    list-style-type: none;
    display: inline-flex;
    width: 100%;
}
.footer-link-item
{
    margin-right:2%;
    font-family: 'montserrat',sans-serif;
    text-transform: uppercase;
    font-size:0.8rem;
    cursor: pointer;
}
.copyright-statement
{
    width: 100%;
    font-family: 'montserrat',sans-serif;
    font-size: 0.8rem;
    padding-left: 3%; 
}
.copyright-statement i{
    margin-right:1%;
}
.footer-link-item:hover{
    text-decoration: underline;
}